@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Neobold';
  src: url('../assets/fonts/neobold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Workfont';
  src: url('../assets/fonts/worksans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header-intro {
  color: #d5f1ef;
  backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
  z-index: 1000;
  /* text-shadow: 1px 1px black; */
  filter: drop-shadow(1px 1px 1px black);
}

.main-text {
  font-family: 'Workfont';
}

.intro-text {
  font-family: 'Neobold';
  text-decoration: underline;
  -webkit-animation: color-change-text 20s infinite;
  -moz-animation: color-change 20s infinite;
  -o-animation: color-change-text 20s infinite;
  -ms-animation: color-change-text 20s infinite;
  animation: color-change-text 20s infinite;
}

.intro-card {
  -webkit-animation: color-change-border 20s infinite;
  -moz-animation: color-change-border 20s infinite;
  -o-animation: color-change-border 20s infinite;
  -ms-animation: color-change-border 20s infinite;
  animation: color-change-border 20s infinite;
}

@-webkit-keyframes color-change-text {
  0% {
    color: #8ec3fa;
  }
  50% {
    color: #350a16;
  }
  100% {
    color: #8ec3fa;
  }
}

@-moz-keyframes color-change-text {
  0% {
    color: #8ec3fa;
  }
  50% {
    color: #350a16;
  }
  100% {
    color: #8ec3fa;
  }
}

@-ms-keyframes color-change-text {
  0% {
    color: #8ec3fa;
  }
  50% {
    color: #350a16;
  }
  100% {
    color: #8ec3fa;
  }
}

@-o-keyframes color-change-text {
  0% {
    color: #8ec3fa;
  }
  50% {
    color: #350a16;
  }
  100% {
    color: #8ec3fa;
  }
}

@keyframes color-change-text {
  0% {
    color: #8ec3fa;
  }
  50% {
    color: #350a16;
  }
  100% {
    color: #8ec3fa;
  }
}

@-webkit-keyframes color-change-border {
  0% {
    border-color: #8ec3fa;
  }
  50% {
    border-color: #350a16;
  }
  100% {
    border-color: #8ec3fa;
  }
}

@-moz-keyframes color-change-border {
  0% {
    border-color: #8ec3fa;
  }
  50% {
    border-color: #350a16;
  }
  100% {
    border-color: #8ec3fa;
  }
}

@-ms-keyframes color-change-border {
  0% {
    border-color: #8ec3fa;
  }
  50% {
    border-color: #350a16;
  }
  100% {
    border-color: #8ec3fa;
  }
}

@-o-keyframes color-change-border {
  0% {
    border-color: #8ec3fa;
  }
  50% {
    border-color: #350a16;
  }
  100% {
    border-color: #8ec3fa;
  }
}

@keyframes color-change-border {
  0% {
    border-color: #8ec3fa;
  }
  50% {
    border-color: #350a16;
  }
  100% {
    border-color: #8ec3fa;
  }
}

.intro-gradient-bg {
  background: linear-gradient(270deg, #8ec3fa, #350a16);
  background-size: 600% 600%;

  -webkit-animation: intro-gradient-animation 20s ease-in-out infinite;
  -moz-animation: intro-gradient-animation 20s ease-in-out infinite;
  -o-animation: intro-gradient-animation 20s ease-in-out infinite;
  animation: intro-gradient-animation 20s ease-in-out infinite;
}

.info-gradient-bg {
  background: linear-gradient(270deg, #8ec3fa, #350a16);
  background-size: 600% 600%;

  -webkit-animation: intro-gradient-animation 20s ease-in-out infinite;
  -moz-animation: intro-gradient-animation 20s ease-in-out infinite;
  -o-animation: intro-gradient-animation 20s ease-in-out infinite;
  animation: intro-gradient-animation 20s ease-in-out infinite;
}

@-webkit-keyframes intro-gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes intro-gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes intro-gradient-animation {
  0% {
    background-position: 0% 510;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.w1 {
  stroke: none;
  fill: #fff;
  opacity: 100%;
  animation: move1 5s ease-in-out infinite;
}
.w2 {
  stroke: none;
  fill: #fff;
  opacity: 35%;
  transform: translate3d(0, 0, 0);
  animation: move2 4s ease-in-out infinite;
}
.w3 {
  stroke: none;
  fill: #fff;
  opacity: 30%;
  transform: translate3d(0, 0, 0);
  animation: move3 6s ease-in-out infinite;
}
@keyframes move1 {
  0% {
    transform: translateX(-500px) scaleX(2.5);
  }
  25% {
    transform: translateX(-100) scaleX(2.5);
  }
  50% {
    transform: translateX(0) scaleX(2.5);
  }
  75% {
    transform: translateX(-100) scaleX(2.5);
  }
  100% {
    transform: translateX(-500px) scaleX(2.5);
  }
}
@keyframes move2 {
  0% {
    transform: translateX(-600px) scaleX(3);
  }
  25% {
    transform: translateX(-100) scaleX(2.5);
  }
  50% {
    transform: translateX(0) scaleX(3);
  }
  75% {
    transform: translateX(-100) scaleX(2.5);
  }
  100% {
    transform: translateX(-600px) scaleX(3);
  }
}
@keyframes move3 {
  0% {
    transform: translateX(-800px) scaleX(3);
  }
  25% {
    transform: translateX(-100) scaleX(2.5);
  }
  50% {
    transform: translateX(0) scaleX(3);
  }
  75% {
    transform: translateX(-100) scaleX(2.5);
  }
  100% {
    transform: translateX(-800px) scaleX(3);
  }
}
